<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : asset_path('list_background.jpg') %>">
  <h1><%= @list.name %></h1>
  <p><%= link_to "REMOVE FROM LISTS", list_path(@list), method: :delete, class: 'p-1 mb-2 btn btn-danger' %>
  <%= link_to "BACK TO ALL LISTS", root_path, class: 'p-1 mb-2 btn btn-success' %></p>
</div>

<div class="container">
  <h1>Movies 🎬</h1>
    <% @list.bookmarks.each do |bookmark| %>
      <h2><%= bookmark.movie.title %></h2>
      <p><%= bookmark.comment %></p>
      <p><%= link_to "DELETE MOVIE", bookmark_path(bookmark), method: :delete, class: 'p-1 mb-2 btn btn-danger' %></p>
    <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="form">
        <h2>Add a new movie</h2>
          <%= simple_form_for [ @list, @bookmark ] do |f| %>
          <%= f.association :movie, input_html: { class: 'select2' } %>
          <%= f.input :comment, placeholder: 'Add your comment' %>
          <%= f.submit "Add movie", class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
